body{
    margin: 0;
    background-color: rgba(71, 250, 250, 0.367);
}
#PBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
#PBox > div {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 40px;
  overflow: hidden;
  height: auto;
  background-color: rgba(198, 236, 246, 0.693);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#PBox > div:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.price {
  display: flex;
  justify-content: space-around;
}
p + p {
  text-decoration: line-through;
}

h5 {
  text-align: center;
}
img {
  display: block;
  width: 100%;
  margin: auto;
}
div + button {
  width: 80%;
  align-self: center;
  border-radius: 15px;
  margin: 5% 10% 9% 10%;
  background-color: rgba(22, 105, 239, 0.845);
  color: white;
  padding: 2%;
  font-weight: bold;
  border: none;
}
div + button:hover {
  background-color: rgba(21, 233, 45, 0.788);
}
#bar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  background-color: aqua;
}
#menu > img {
  width: 70px;
  border-radius: 100px;
}
#cart > img {
  width: 40px;
}
#cart {
  display: flex;
  margin-right: 10px;
  /* background-color: rgba(228, 9, 244, 0.303); */
}
#cart:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}
#menu a {
  margin: 25px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
}
#cart {
  margin: 3px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 50px;
}
#menu a:hover {
  color: rgba(245, 85, 45, 0.875);
}

#cart > h5 {
  width: 25px;
  margin-left: -5px;
}
h2 {
  text-align: center;
  font-size: 35px;
  background-color: rgba(0, 0, 139, 0.708);
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  color: white;
  width: 100%;
  margin: 80px 0 30px -10px;
}


/* CSS For Cart */

#cartBox {
  display: flex;
  margin-top: 104px;
  width: 101%;
}

#cartItems {
  /* background-color: greenyellow; */
  width: 70%;
}


#cartItems>div{
  display: flex;
  height: 280px;
  margin: 1%;
  border: 2px solid black;
  border-radius: 60px;
  overflow: hidden;
  background-color: rgba(18, 18, 138, 0.851);
}
#cartItems>div>img{
  height: 100%;
  width: 35%;
  margin-left: 0; 
}
#cartItems>div>div{
  width: 65%;
  margin: 2%;
}
h3{
  text-align: center;
  height: 30%;
  color: white;
}
#remove{
  width: 150px;
  
}
#remove:hover{
  background-color: red;
  color: white;
}
#cartOption{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
#cartOption>:first-child{
  margin-bottom: 25px;
  font-size: larger;
}
#cartOption>:first-child>p{
  color: rgb(223, 210, 210);
}
#IncDec{
  display: flex;
  justify-content: space-between;
  width: 130px;
  border: 1px solid black;
  height: 45px;
  background-color: rgb(178, 172, 172);
  border-radius: 45px;
  margin-bottom: 25px;
  overflow: hidden;
  
}
#IncDec>button{
  width: 50px;
  margin: 0 -4px;
  border-radius: 15px;
  font-size: 30px;
  border: none;
}
#IncDec>button:hover{
  background-color: aqua;
  color: darkblue;
}
span{
  padding-top: 13px;
  font-size: large;
  
}

/* #cartItems>div>div>div{
  display: flex;
} */


/* CSS For Payment-Section */

#paymentSection {
  background-color: pink;
  width: 30%;
  border-radius: 45px;
}
#paymentSection>div{
  display: flex;
  justify-content: space-between;
  margin: 20px 30px 0 30px;
}
input{
  height: 20px;
  margin-top: 16px;
}
#paymentSection>div>button{
  height: 30px;
  margin-top: 15px;
  padding: 10px 10px 10px 10px;
  width: 120px;
  margin-left: 5px;
  border-radius: 15px;
  border: none;
}
#paymentSection>div>button:hover{
  background-color: brown;
  color: white;
  border: none;
}

#cartCount{
  color: rgb(19, 19, 18);
 
}






